body {
  margin: 0;
  background-image: url("https://cdn.pixabay.com/photo/2012/12/24/08/39/background-72250_1280.jpg");
}

.main {
  padding: 8px;
  flex-grow: 1;
}

.task {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ffd700;
  padding: 8px;
  max-width: 200px;
  background-color: #fffacd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 8px;
}

#note {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.tasks {
  background-color: #fffacd;
  border: 1px solid #ffd700;
  padding: 12px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 20px auto;
}

input {
  padding: 10px;
}

.completed-task {
  background-color: #4caf50;
  color: #fff;
  border: 1px solid #388e3c;
  padding: 12px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 20px auto;
}

.completed-task-text {
  font-weight: bold;
}
